{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# Meta Tags #}
<meta name="description" content="{{ description or meta.description }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">

{# Favicon #}
<link rel="shortcut icon" type="image/png" href="{{ '/static/images/park.png' | url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/images/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/images/favicon/favicon-16x16.png' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# Manifest #}
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}">

{# Custom Google Fonts #}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu&display=swap" rel="stylesheet">

