<ol class="postlist" reversed>
{% for post in collections.posts | reverse %}
    <li>
        <time datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">
            {{ post.date | dateToFormat(meta.dateFormat) }}
        </time>
        <span><a href="{{ post.url | url }}">{{ post.data.title }}</a></span>
    </li>
{% endfor %}
</ol>