html {
    overflow-y: scroll;
}

.site {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.site > * {
    padding: var(--spacing);
}

.header {
    flex: none;
    color: #FFF;
    background-color: var(--brand-color);
}
.header a {
    color: inherit;
    text-decoration: none;
}
.header a img {
    height: 5rem;
    line-height: 1;
    width: auto;
    margin-right: 1rem;
}

.header span {
    font-size: 200%;
}

.main {
    flex: 1 0 auto;
}

.homepage {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #E4E4E4;
    font-size: 50%;
}

.footer-menu {
    display: block;
    justify-content: initial;
}

.footer-menu ul {
    display: flex;
    list-style: none;
}

.footer-menu li {
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

.footer .credits {
    text-align: right;
}

.postlist li {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.postlist a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.postlist time {
    font-size: 65%;
    margin-bottom: 0.3rem;
    /* font-family: 'Ubuntu Mono', monospace; */
}