/* More colors in https://www.colourlovers.com/palette/4707270/Fading_Into_Daylight */
:root {
    --brand-color: #F6936C;
    --spacing: 1em;
    --font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
    :root {
        --spacing: 2em;
        --font-size: 1.5rem;
    }
}
